{% extends 'base.html.twig' %}

{% block title %}Hello PageController!{% endblock %}

{% block body %}
    {% include 'page/block/slider.html.twig' %}
    {% include 'page/block/category.html.twig' %}
{% endblock %}
