{% extends 'base.html.twig' %}

{% block title %}Hello Login!{% endblock %}

{% block body %}

    <!--Sliders Section-->
    <section>
        <div class="bannerimg cover-image bg-background3" data-image-src="../assets/images/banners/banner2.jpg">
            <div class="header-text mb-0">
                <div class="container">
                    <div class="text-center text-white">
                        <h1 class="">Login</h1>
                        <ol class="breadcrumb text-center">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active text-white" aria-current="page">Login</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Sliders Section-->

    <!--Login-Section-->
    <section class="sptb">
        <div class="container customerpage">
            <div class="row">
                <div class="single-page" >
                    <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
                        <div class="wrapper wrapper2">
                            <form id="login" class="card-body" action="{{ path('user_login') }}" method="post" tabindex="500">
                                <h3>Login</h3>
                                {% if error %}
                                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}
                                <input type="hidden" name="_csrf_token"
                                       value="{{ csrf_token('authenticate') }}"
                                >
                                <div class="mail">
                                    <input type="email" name="_username" value="{{ last_username }}">
                                    <label>Mail or Username</label>
                                </div>
                                <div class="passwd">
                                    <input type="password" name="_password">
                                    <label>Password</label>
                                </div>
                                <div class="submit">
                                    <button class="btn btn-lg btn-primary" type="submit">
                                        Sign in
                                    </button>
                                </div>
                                <p class="mb-2"><a href="forgot.html" >Forgot Password</a></p>
                                <p class="text-dark mb-0">Don't have account?<a href="{{ path('user_registration') }}" class="text-primary ml-1">Sign UP</a></p>
                            </form>
                            <hr class="divider">
                            <div class="card-body">
                                <div class="text-center">
                                    <div class="btn-group">
                                        <a href="https://www.facebook.com/" class="btn btn-icon mr-2 brround">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="https://www.google.com/gmail/" class="btn  mr-2 btn-icon brround">
                                            <span class="fa fa-google"></span>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="https://twitter.com/" class="btn  btn-icon brround">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Login-Section-->
{% endblock %}
