{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}

    <!--Breadcrumb-->
    <section>
        <div class="bannerimg cover-image bg-background3" data-image-src="../assets/images/banners/banner2.jpg">
            <div class="header-text mb-0">
                <div class="container">
                    <div class="text-center text-white">
                        <h1 class="">Register</h1>
                        <ol class="breadcrumb text-center">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item active text-white" aria-current="page">Register</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/Breadcrumb-->

    <!--Register-section-->
    <section class="sptb">
        <div class="container customerpage">
            <div class="row">
                <div class="single-page">
                    <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
                        <div class="wrapper wrapper2">
                            {{ form_start(form, {attr: {class: 'card-body', tabindex: '500'} }) }}
                            <h3>Register</h3>
                            {{ form_errors(form.civility) }}
                            <div class="name">
                                {{ form_label(form.civility) }}
                                {{ form_widget(form.civility, {attr: {class: 'form-control'} }) }}
                            </div>
                            {% if(form_errors(form.firstname) is not empty) %}<div class="error"><span class="badge badge-pill badge-danger">Erreur</span> {{ form_errors(form.firstname) }}</div>{% endif %}
                            <div class="name">
                                {{ form_label(form.firstname) }}
                                {{ form_widget(form.firstname) }}
                            </div>
                            {% if(form_errors(form.lastname) is not empty) %}<div class="error"><span class="badge badge-pill badge-danger">Erreur</span> {{ form_errors(form.lastname) }}</div>{% endif %}
                            <div class="name">
                                {{ form_label(form.lastname) }}
                                {{ form_widget(form.lastname) }}
                            </div>
                            {% if(form_errors(form.email) is not empty) %}<div class="error"><span class="badge badge-pill badge-danger">Erreur</span> {{ form_errors(form.email) }}</div>{% endif %}
                            <div class="email">
                                {{ form_label(form.email) }}
                                {{ form_widget(form.email) }}
                            </div>
                            {% if(form_errors(form.password) is not empty) %}<div class="error"><span class="badge badge-pill badge-danger">Erreur</span> {{ form_errors(form.password) }}</div>{% endif %}
                            <div class="password">
                                {{ form_label(form.password) }}
                                {{ form_widget(form.password) }}
                            </div>
                            {% if(form_errors(form.confirm_password) is not empty) %}<div class="error"><span class="badge badge-pill badge-danger">Erreur</span> {{ form_errors(form.confirm_password) }}</div>{% endif %}
                            <div class="password">
                                {{ form_label(form.confirm_password) }}
                                {{ form_widget(form.confirm_password) }}
                            </div>
                            {{ form_widget(form.register, {attr: {class: 'btn btn-primary btn-block'} }) }}
                            {{ form_end(form) }}
                            <hr class="divider">
                            <div class="card-body">
                                <div class="text-center">
                                    <div class="btn-group">
                                        <a href="https://www.facebook.com/" class="btn btn-icon mr-2 brround">
                                            <span class="fa fa-facebook"></span>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="https://www.google.com/gmail/" class="btn  mr-2 btn-icon brround">
                                            <span class="fa fa-google"></span>
                                        </a>
                                    </div>
                                    <div class="btn-group">
                                        <a href="https://twitter.com/" class="btn  btn-icon brround">
                                            <span class="fa fa-twitter"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Register-section-->
{% endblock %}
