<section>
    <div class=" cover-image sptb-4 sptb-tab bg-background2" data-image-src="../assets/images/banners/banner1.jpg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white mb-6">
                    <a href="" class="typewrite" data-period="2000" data-type='[ "Find Your Best Classified" ]'>
                        <span class="wrap"></span>
                    </a>
                    <p>It is a long established fact that a reader will be distracted by the readable.</p>
                </div>
                <div class="row">
                    <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
                        <div class="search-background bg-transparent">
                            <div class="form row no-gutters ">
                                <div class="form-group  col-xl-4 col-lg-3 col-md-12 mb-0 bg-white ">
                                    <input type="text" class="form-control input-lg br-tr-md-0 br-br-md-0" id="text4" placeholder="Job Title or Phrase or Keywords">
                                </div>
                                <div class="form-group  col-xl-3 col-lg-3 col-md-12 mb-0 bg-white">
                                    <input type="text" class="form-control input-lg br-md-0" id="text5" placeholder="Enter Location">
                                    <span><i class="fa fa-map-marker location-gps mr-1"></i> </span>
                                </div>
                                <div class="form-group col-xl-3 col-lg-3 col-md-12 select2-lg  mb-0 bg-white">
                                    <select class="form-control select2-show-search  border-bottom-0" data-placeholder="Select Category">
                                        <optgroup label="Categories">
                                            <option>Select</option>
                                            <option value="1">Private</option>
                                            <option value="2">Software</option>
                                            <option value="3">Banking</option>
                                            <option value="4">Finaces</option>
                                            <option value="5">Corporate</option>
                                            <option value="6">Driver</option>
                                            <option value="7">Sales</option>
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="col-xl-2 col-lg-3 col-md-12 mb-0">
                                    <a href="#" class="btn btn-lg btn-block btn-primary br-tl-md-0 br-bl-md-0">Search Here</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /header-text -->
    </div>
</section>
