<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <!-- Bootstrap Css -->
            <link href="{{ asset('assets/plugins/bootstrap-4.3.1-dist/css/bootstrap.min.css') }}" rel="stylesheet" />

            <!-- Dashboard Css -->
            <link href="{{ asset('assets/css/dashboard.css') }}" rel="stylesheet" />

            <!-- Font-awesome  Css -->
            <link href="{{ asset('assets/css/icons.css') }}" rel="stylesheet"/>

            <!--Horizontal Menu-->
            <link href="{{ asset('assets/plugins/Horizontal2/Horizontal-menu/dropdown-effects/fade-down.css') }}" rel="stylesheet" />
            <link href="{{ asset('assets/plugins/Horizontal2/Horizontal-menu/horizontal.css') }}" rel="stylesheet" />

            <!--Select2 Plugin -->
            <link href="{{ asset('assets/plugins/select2/select2.min.css') }}" rel="stylesheet" />

            <!-- Cookie css -->
            <link href="{{ asset('assets/plugins/cookie/cookie.css') }}" rel="stylesheet">

            <!-- Owl Theme css-->
            <link href="{{ asset('assets/plugins/owl-carousel/owl.carousel.css') }}" rel="stylesheet" />

            <!-- Custom scroll bar css-->
            <link href="{{ asset('assets/plugins/scroll-bar/jquery.mCustomScrollbar.css') }}" rel="stylesheet" />

            <!-- COLOR-SKINS -->
            <link id="theme" rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/webslidemenu/color-skins/color10.css') }}" />
            <link id="theme" rel="stylesheet" type="text/css" media="all" href="{{ asset('assets/css/custom.css') }}" />
        {% endblock %}
    </head>
    <body>
    <!--Loader-->
    <div id="global-loader">
        <img src="../assets/images/products/products/loader.png" class="loader-img floating" alt="">
    </div>

    <!--Topbar-->
    <div class="header-main">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 col-sm-4 col-7">
                        <div class="top-bar-left d-flex">
                            <div class="clearfix">
                                <ul class="socials">
                                    <li>
                                        <a class="social-icon text-dark" href="#"><i class="fa fa-facebook"></i></a>
                                    </li>
                                    <li>
                                        <a class="social-icon text-dark" href="#"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a class="social-icon text-dark" href="#"><i class="fa fa-linkedin"></i></a>
                                    </li>
                                    <li>
                                        <a class="social-icon text-dark" href="#"><i class="fa fa-google-plus"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-sm-8 col-5">
                        <div class="top-bar-right">
                            <ul class="custom">
                                <li>
                                    <a href="{{ path('user_registration') }}" class="text-dark"><i class="fa fa-user mr-1"></i> <span>Register</span></a>
                                </li>
                                <li>
                                    <a href="{{ path('user_login') }}" class="text-dark"><i class="fa fa-sign-in mr-1"></i> <span>Login</span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Header -->
        <div class="horizontal-header clearfix ">
            <div class="container">
                <a id="horizontal-navtoggle" class="animated-arrow"><span></span></a>
                <span class="smllogo"><img src="../assets/images/brand/logo.png" width="120" alt=""/></span>
                <a href="tel:245-6325-3256" class="callusbtn"><i class="fa fa-phone" aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- /Mobile Header -->

        <div class="horizontal-main bg-dark-transparent clearfix">
            <div class="horizontal-mainwrapper container clearfix">
                <div class="desktoplogo">
                    <a href="index.html"><img src="../assets//images/brand/logo1.png" alt=""></a>
                </div>
                <div class="desktoplogo-1">
                    <a href="index.html"><img src="../assets//images/brand/logo.png" alt=""></a>
                </div>
                <!--Nav-->
                <nav class="horizontalMenu clearfix d-md-flex">
                    <ul class="horizontalMenu-list">
                        <li aria-haspopup="true"><a href="#" class="active">Home <span class="fa fa-caret-down m-0"></span></a>
                            <ul class="sub-menu">
                                <li aria-haspopup="true"><a href="index.html">Home-default</a></li>
                                <li aria-haspopup="true"><a href="classifieds-text.html">Home style-1</a></li>
                                <li aria-haspopup="true"><a href="classifieds-slides.html">Home style-2</a></li>
                                <li aria-haspopup="true"><a href="classifieds-video.html">Home style-3</a></li>
                                <li aria-haspopup="true"><a href="classifieds-animation.html">Home style-4 </a></li>
                                <li aria-haspopup="true"><a href="classifieds-map.html">Home style-5</a></li>
                                <li aria-haspopup="true"><a href="intro-page.html">Home Intro Page</a></li>
                                <li aria-haspopup="true"><a href="popup-login.html">Home Pop-up login</a></li>
                                <li aria-haspopup="true"><a href="banner.html">Banners</a></li>
                            </ul>
                        </li>
                        <li aria-haspopup="true"><a href="about.html">About Us </a></li>
                        <li aria-haspopup="true"><a href="widgets.html">Widgets</a></li>
                        <li aria-haspopup="true"><a href="#">Pages <span class="fa fa-caret-down m-0"></span></a>
                            <div class="horizontal-megamenu clearfix">
                                <div class="container">
                                    <div class="megamenu-content">
                                        <div class="row">
                                            <ul class="col link-list">
                                                <li class="title">Custom pages</li>
                                                <li>
                                                    <a href="classifieds-list.html">Classifieds List</a>
                                                </li>
                                                <li>
                                                    <a href="classifieds-list-right.html">Classifieds List Right</a>
                                                </li>
                                                <li>
                                                    <a href="classifieds-list-map.html">Classifieds Map list</a>
                                                </li>
                                                <li>
                                                    <a href="classifieds-list-map2.html">Classifieds Map list 02</a>
                                                </li>
                                                <li>
                                                    <a href="classifieds-list-map3.html">Classifieds Map style 03</a>
                                                </li>
                                                <li>
                                                    <a href="categories.html">Categories</a>
                                                </li>
                                                <li>
                                                    <a href="inovice.html">Invoice</a>
                                                </li>
                                                <li>
                                                    <a href="usersall.html">User Lists</a>
                                                </li>
                                            </ul>
                                            <ul class="col link-list">
                                                <li class="title">Custom pages</li>
                                                <li>
                                                    <a href="ad-list.html">Ad Listing</a>
                                                </li>
                                                <li>
                                                    <a href="ad-list-right.html">Ad Listing Right</a>
                                                </li>
                                                <li>
                                                    <a href="ad-details.html">Ad Details</a>
                                                </li>
                                                <li>
                                                    <a href="ad-details-right.html">Ad Details Right</a>
                                                </li>
                                                <li>
                                                    <a href="ad-posts.html">Ad Posts</a>
                                                </li>
                                                <li>
                                                    <a href="ad-posts2.html">Ad Posts2</a>
                                                </li>
                                                <li>
                                                    <a href="pricing.html">Pricing</a>
                                                </li>
                                                <li>
                                                    <a href="typography.html">Typography</a>
                                                </li>
                                            </ul>
                                            <ul class="col link-list">
                                                <li>
                                                    <a href="userprofile.html"> User Profile</a>
                                                </li>
                                                <li>
                                                    <a href="mydash.html">My Dashboard</a>
                                                </li>
                                                <li>
                                                    <a href="myads.html">Ads</a>
                                                </li>
                                                <li>
                                                    <a href="myfavorite.html">Favorite Ads</a>
                                                </li>
                                                <li>
                                                    <a href="manged.html">Manged Ads</a>
                                                </li>
                                                <li>
                                                    <a href="payments.html">Payments</a>
                                                </li>
                                                <li>
                                                    <a href="orders.html"> Orders</a>
                                                </li>
                                                <li>
                                                    <a href="settings.html"> Settings</a>
                                                </li>
                                                <li>
                                                    <a href="tips.html">Tips</a>
                                                </li>
                                            </ul>
                                            <ul class="col link-list">
                                                <li class="title">User pages</li>
                                                <li><a href="underconstruction.html">Under Constructions</a></li>
                                                <li><a href="404.html">404</a></li>
                                                <li><a href="register.html">Register</a></li>
                                                <li><a href="login.html">Login</a></li>
                                                <li><a href="login-2.html">Login 02</a></li>
                                                <li><a href="forgot.html">Forgot Password</a></li>
                                                <li><a href="lockscreen.html">Lock Screen</a></li>
                                                <li><a href="faq.html">Faq</a></li>
                                            </ul>
                                            <ul class="col link-list">
                                                <li class="title">User pages</li>
                                                <li><a href="header-style1.html">Header Style 01</a></li>
                                                <li><a href="header-style2.html">Header Style 02</a></li>
                                                <li><a href="header-style3.html">Header Style 03</a></li>
                                                <li><a href="header-style4.html">Header Style 04</a></li>
                                                <li><a href="footer-style.html">Footer Style 01</a></li>
                                                <li><a href="footer-style2.html">Footer Style 02</a></li>
                                                <li><a href="footer-style3.html">Footer Style 03</a></li>
                                                <li><a href="footer-style4.html">Footer Style 04</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li aria-haspopup="true"><a href="#">Blog <span class="fa fa-caret-down m-0"></span></a>
                            <ul class="sub-menu">
                                <li aria-haspopup="true"><a href="#">Blog Grid <i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
                                    <ul class="sub-menu">
                                        <li aria-haspopup="true"><a href="blog-grid.html">Blog Grid Left</a></li>
                                        <li aria-haspopup="true"><a href="blog-grid-right.html">Blog Grid Right</a></li>
                                        <li aria-haspopup="true"><a href="blog-grid-center.html">Blog Grid Center</a></li>
                                    </ul>
                                </li>
                                <li aria-haspopup="true"><a href="#">Blog List <i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
                                    <ul class="sub-menu">
                                        <li aria-haspopup="true"><a href="blog-list.html">Blog List Left</a></li>
                                        <li aria-haspopup="true"><a href="blog-list-right.html">Blog List Right</a></li>
                                        <li aria-haspopup="true"><a href="blog-list-center.html">Blog List Center</a></li>
                                    </ul>
                                </li>
                                <li aria-haspopup="true"><a href="#">Blog Details <i class="fa fa-angle-right float-right mt-1 d-none d-lg-block"></i></a>
                                    <ul class="sub-menu">
                                        <li aria-haspopup="true"><a href="blog-details.html">Blog Details Left</a></li>
                                        <li aria-haspopup="true"><a href="blog-details-right.html">Blog Details Right</a></li>
                                        <li aria-haspopup="true"><a href="blog-details-center.html">Blog Details Center</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li aria-haspopup="true"><a href="#">Categories <span class="fa fa-caret-down m-0"></span></a>
                            <ul class="sub-menu">
                                <li aria-haspopup="true"><a href="classified.html">Classifieds Left</a></li>
                                <li aria-haspopup="true"><a href="classified-right.html">Classifieds Rights </a></li>
                            </ul>

                        </li>
                        <li aria-haspopup="true"><a href="contact.html"> Contact Us <span class="wsarrow"></span></a></li>
                        <li aria-haspopup="true" class="d-lg-none mt-5 pb-5 mt-lg-0">
                            <span><a class="btn btn-orange" href="{{ path('product_add') }}">Post Free Ad</a></span>
                        </li>
                    </ul>
                    <ul class="mb-0">
                        <li aria-haspopup="true" class="mt-5 d-none d-lg-block ">
                            <span><a class="btn btn-orange" href="{{ path('product_add') }}">Post Free Ad</a></span>
                        </li>
                    </ul>
                </nav>
                <!--Nav-->
            </div>
        </div>
    </div>
        {% block body %}
        {% endblock %}
    <!--Footer Section-->
    <section>
        <footer class="bg-dark-purple text-white">
            <div class="footer-main">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-12">
                            <h6>About</h6>
                            <hr class="deep-purple  accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit amet numquam iure provident voluptate essequasi, veritatis totam voluptas nostrum.Lorem ipsum dolor sit amet, consectetur </p>
                            <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum .</p>
                        </div>
                        <div class="col-lg-2 col-md-12">
                            <h6>Our Services</h6>
                            <hr class="deep-purple text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <ul class="list-unstyled mb-0">
                                <li><a href="javascript:;">Our Team</a></li>
                                <li><a href="javascript:;">Contact US</a></li>
                                <li><a href="javascript:;">About</a></li>
                                <li><a href="javascript:;">Services</a></li>
                                <li><a href="javascript:;">Blog</a></li>
                                <li><a href="javascript:;">Terms and Services</a></li>
                            </ul>
                        </div>

                        <div class="col-lg-3 col-md-12">
                            <h6>Contact</h6>
                            <hr class="deep-purple  text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <a href="#"><i class="fa fa-home mr-3 text-primary"></i> New York, NY 10012, US</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-envelope mr-3 text-primary"></i> info12323@example.com</a></li>
                                <li>
                                    <a href="#"><i class="fa fa-phone mr-3 text-primary"></i> + 01 234 567 88</a>
                                </li>
                                <li>
                                    <a href="#"><i class="fa fa-print mr-3 text-primary"></i> + 01 234 567 89</a>
                                </li>
                            </ul>
                            <ul class="list-unstyled list-inline mt-3">
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1 waves-effect waves-light">
                                        <i class="fa fa-facebook bg-facebook"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1 waves-effect waves-light">
                                        <i class="fa fa-twitter bg-info"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1 waves-effect waves-light">
                                        <i class="fa fa-google-plus bg-danger"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="btn-floating btn-sm rgba-white-slight mx-1 waves-effect waves-light">
                                        <i class="fa fa-linkedin bg-linkedin"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <h6>Subscribe</h6>
                            <hr class="deep-purple  text-primary accent-2 mb-4 mt-0 d-inline-block mx-auto">
                            <div class="clearfix"></div>
                            <div class="input-group w-70">
                                <input type="text" class="form-control br-tl-3  br-bl-3 " placeholder="Email">
                                <div class="input-group-append ">
                                    <button type="button" class="btn btn-primary br-tr-3  br-br-3"> Subscribe </button>
                                </div>
                            </div>
                            <h6 class="mb-0 mt-5">Payments</h6>
                            <hr class="deep-purple  text-primary accent-2 mb-2 mt-3 d-inline-block mx-auto">
                            <div class="clearfix"></div>
                            <ul class="footer-payments">
                                <li class="pl-0"><a href="javascript:;"><i class="fa fa-cc-amex text-muted" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;"><i class="fa fa-cc-visa text-muted" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;"><i class="fa fa-credit-card-alt text-muted" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;"><i class="fa fa-cc-mastercard text-muted" aria-hidden="true"></i></a></li>
                                <li><a href="javascript:;"><i class="fa fa-cc-paypal text-muted" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bg-dark-purple text-white p-0">
                <div class="container">
                    <div class="row d-flex">
                        <div class="col-lg-12 col-sm-12 mt-3 mb-3 text-center ">
                            Copyright © 2019 <a href="#" class="fs-14 text-primary">Claylist</a>. Designed by <a href="#" class="fs-14 text-primary">Spruko</a> All rights reserved.
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </section>
    <!--Footer Section-->
        {% block javascripts %}
            <script src="{{ asset('assets/js/vendors/jquery-3.2.1.min.js') }}"></script>

            <!-- Bootstrap js -->
            <script src="{{ asset('assets/plugins/bootstrap-4.3.1-dist/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/bootstrap-4.3.1-dist/js/bootstrap.min.js') }}"></script>

            <!--JQuery Sparkline Js-->
            <script src="{{ asset('assets/js/vendors/jquery.sparkline.min.js') }}"></script>

            <!-- Circle Progress Js-->
            <script src="{{ asset('assets/js/vendors/circle-progress.min.js') }}"></script>

            <!-- Star Rating Js-->
            <script src="{{ asset('assets/plugins/rating/jquery.rating-stars.js') }}"></script>

            <!--Counters -->
            <script src="{{ asset('assets/plugins/counters/counterup.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/counters/waypoints.min.js') }}"></script>
            <script src="{{ asset('assets/plugins/counters/numeric-counter.js') }}"></script>

            <!--Owl Carousel js -->
            <script src="{{ asset('assets/plugins/owl-carousel/owl.carousel.js') }}"></script>

            <!--Horizontal Menu-->
            <script src="{{ asset('assets/plugins/Horizontal2/Horizontal-menu/horizontal.js') }}"></script>

            <!--JQuery TouchSwipe js-->
            <script src="{{ asset('assets/js/jquery.touchSwipe.min.js') }}"></script>

            <!--Select2 js -->
            <script src="{{ asset('assets/plugins/select2/select2.full.min.js') }}"></script>
            <script src="{{ asset('assets/js/select2.js') }}"></script>

            <!-- sticky Js-->
            <script src="{{ asset('assets/js/sticky.js') }}"></script>

            <!-- Cookie js -->
            <script src="{{ asset('assets/plugins/cookie/jquery.ihavecookies.js') }}"></script>
            <script src="{{ asset('assets/plugins/cookie/cookie.js') }}"></script>

            <!-- Custom scroll bar Js-->
            <script src="{{ asset('assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js') }}"></script>

            <!-- Swipe Js-->
            <script src="{{ asset('assets/js/swipe.js') }}"></script>

            <!-- Scripts Js-->
            <script src="{{ asset('assets/js/scripts2.js') }}"></script>

            <!-- Custom Js-->
            <script src="{{ asset('assets/js/custom.js') }}"></script>
        {% endblock %}
    </body>
</html>
